body{
	overflow:hidden;
}

.background{
	background-image: url(dark_geometric.png);
}

.noanchor:link, .noanchor:visited, .noanchor:active {
	text-decoration: none;
	color:white;
}

.page{
	width:100%;
	height:100%;
}

#logo{
	left:10px;
	top:0px;
}

#content{
	height:100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-image: url(brushed_alu.png);
	
}

.jscode{
	background-color:white;
	font-family:"Courier New",Courier,monospace;
	width:600px;
	margin-left:40px;
	padding:10 15 10 15;
	-moz-box-shadow: 5px 5px 5px #888;-webkit-box-shadow: 5px 5px 5px #888;box-shadow: 5px 5x 5px #888;
}

p{
	margin-left:10px;
	font-family:Calibri;
	font-size:15px;
	margin-bottom:15px;
}

#titlebox{
	position:absolute;
	left:40%;
	top:100px;
	width:650px;
	height:500px;

}

#codebox{
	margin-top:20px;
	background-color:white;
	font-family:"Courier New",Courier,monospace;
	width:500px;
	height:100px;
	margin-left:40px;
	padding:10 15 10 15;
	-moz-box-shadow: 5px 5px 5px #888;-webkit-box-shadow: 5px 5px 5px #888;box-shadow: 5px 5x 5px #888;
}

.arrow{
	opacity:0.2;
}

.dirText{
	color:white;
	font-size:40px;
	margin-top:45px;
	opacity:0.0;
}

.control{
	position:fixed;
	width:170px;
	cursor:pointer;
}

#rightControl{
	right:0px;
	top:40%;
}

#leftControl{
	left:0px;
	top:40%;
}

